{
  "extends": "airbnb",
  "env": {
      "browser": true,
      "node": true
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
    },
    "rules": {
      "linebreak-style": 0
    }
}