<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
   {% body %}
  <p>-----------</p>
   {{siteconfig.csspath}}
   <p>-----------</p>
   {{siteconfig.scriptpath}}
   <p>-----------</p>

</body>
</html>
