		<!--<script src="/bower_components/foundation-apps/dist/js/foundation-apps.js"></script>
		<script src="/bower_components/foundation-apps/dist/js/foundation-apps-templates.js"></script>-->
		<script src="/build/components/app.js"></script>
	</body>
</html>