<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">
    	<title>React Component Demo</title>
    	<link rel="stylesheet" href="/build/stylesheets/app.css" />

		<link rel="stylesheet" href="/bower_components/foundation-apps/dist/css/foundation-apps.css">

	</head>
	<body class="page page-start">
