<div class="row">
<div class="columns small-12 medium-12 large-12 columns">

<div class="component-search">
  <!-- select -->
  <select class="search-select" name="search__select">
    <option value="all">Sök på allt</option>
    <option value="cat_1">Katergori 1</option>
    <option value="cat_2">Katergori 2</option>
    <option value="cat_3">Katergori 3</option>
    <option value="cat_4">Katergori 4</option>
  </select>

  <!-- input -->
  <input class="search-field" type="text" name="search__field" value="" placeholder="Söktext" />

  <!-- button -->
  <input class="search-button button button--outline button--outline--yellow" type="button" name="search__button" value="Sök">

</div>

</div>
</div>
