<% include ../framework/header %>


    <!-- Render the React components here -->
    <div class="component-checkboxwithlabel">
    	<div id="view"></div>
    </div>

<% include ../framework/footer %>