<!-- page: start -->
<h1>Page: Start</h1>

<!-- partial: component-checkboxwithlabel -->
{{partial "component-checkboxwithlabel"}}

<!-- partial: block-example -->
{{partial "block-example"}}

<!-- partial: search -->
{{partial "component-search"}}
